extends layout

block content
    title Create Subject
    
    header.mobile-header 
        button.hamburger 
            div.bar 
        img(src="/images/logo_white.png", alt="logo")
    div.page
        nav
            img(src="/images/logo_white.png", alt="logo")
            ul
                li 
                    a(href="/admin_dashboard") Dashboard 
                li
                    a#um_btn(href='#') User Management
                    ul#um-show 
                        li 
                            a(href="/user_list") User List
                        li 
                            a(href="/create_user") Create User Account 
                li
                    a#sm_btn(href='#') Subject Management
                    ul#sm-show 
                        li 
                            a(href="/admin_subjectlist") Subject List 
                        li
                            a(href="/create_subject", style="color:red; border-bottom: 1px solid red") Create Subject 
                li 
                    a.logout(href="logout") Logout
     
        nav.mobile-nav
            ul
                li 
                    a(href="/admin_dashboard") Dashboard 
                li
                    a#mobile_um_btn(href='#') User Management
                    ul#mobile_um-show 
                        li 
                            a(href="/user_list") User List
                        li 
                            a(href="/create_user") Create User Account 
                li
                    a#mobile_sm_btn(href='#') Subject Management
                    ul#mobile_sm-show 
                        li 
                            a(href="/admin_subjectlist") Subject List 
                        li
                            a(href="/create_subject", style="color:red; border-bottom: 1px solid red") Create Subject 
                li 
                    a.logout(href="logout") Logout


        div.container(style='flex-direction:column; flex:1; width:100%')
            h1 Create User Account
            div.SubjectCreate
                div.container
                    form#subjectForm
                        div.form_item
                            p#subjectError Invalid Subject name, must be 3-35 characters long and contain only letters.
                            label Subject Name  
                                input(type='text', placeholder='', name="subjectname", autocomplete="name")
                        div.form_item
                            label Assign Instructor 
                                select(name='instructor', id='selectInstructor')
                                
                        div.form_item        
                            input(type="submit", value="Create", id="createBtn")


    footer 
        p © 2024 Quiz Horizon. All rights reserved.

    script(src = "javascripts/navibar.js")
    script(src = "javascripts/create_subject.js")
    link(rel='stylesheet', href='/stylesheets/admin.css')