extends layout

block content
    header.mobile-header 
        button.hamburger 
            div.bar 
        img(src="/images/logo_white.png", alt="logo")
    div.page
        nav
            img(src="/images/logo_white.png", alt="logo")
            ul
                li 
                    a(href="/admin_dashboard") Dashboard 
                li
                    a#um_btn(href='#') User Management
                    ul#um-show 
                        li 
                            a(href="/user_list") User List
                        li 
                            a(href="/create_user", style="color:red; border-bottom: 1px solid red") Create User Account 
                li
                    a#sm_btn(href='#') Subject Management
                    ul#sm-show 
                        li 
                            a(href="/admin_subjectlist") Subject List 
                        li
                            a(href="/create_subject") Create Subject 
                li 
                    a.logout(href="logout") Logout
     
        nav.mobile-nav
            ul
                li 
                    a(href="/admin_dashboard") Dashboard 
                li
                    a#mobile_um_btn(href='#') User Management
                    ul#mobile_um-show 
                        li 
                            a(href="/user_list") User List
                        li 
                            a(href="/create_user", style="color:red; border-bottom: 1px solid red") Create User Account 
                li
                    a#mobile_sm_btn(href='#') Subject Management
                    ul#mobile_sm-show 
                        li 
                            a(href="/admin_subjectlist") Subject List 
                        li
                            a(href="/create_subject") Create Subject 
                li 
                    a.logout(href="logout") Logout


        div.container(style='flex-direction:column; flex:1; width:100%')
            h1 Create User Account
            div.register
                div.container
                    form#registerForm
                        div.form_item
                            p#usernameError Invalid Username, must be 4-20 characters long and contain only letters and numbers.
                            p#usernameExist Username Exist  
                            label Username  
                                input(type='text', placeholder='', name="username", autocomplete="username")
                        div.form_item
                            p#fullnameError Invalid Name, must be 4-20 characters long and contain only letters. 
                            label Full Name 
                                input(type='text', placeholder='', name="fullname", autocomplete="name")
                        div.form_item
                            p#emailError Invalid E-mail, enter a valid email address.
                            label E-mail 
                                input(type='text', placeholder='', name="email", autocomplete="email")
                        div.form_item
                            p#contactError Invalid Contact Number, must be 7-11 digits long.
                            label Contact Number
                                input(type='text', placeholder='', name="contact", autocomplete="contact")
                        div.form_item
                            p#addressError Invalid Address, must be 4-40 characters long and may contain letters, numbers, and special characters. 
                            label Address 
                                input(type='text', placeholder='', name="address", autocomplete="address")
                        div.form_item
                            p#roleError Please select a role
                            label Role:
                                div.role(style='display: flex; width:100%')
                                    label instructor:
                                        input(type='radio', name='role', value='instructor', id='instructor')

                                    label student:
                                        input(type='radio', name='role', value='student', id='student')
                        div.form_item        
                            input(type="submit", value="Register")


            #confirmationModal.modal
                .modal-content
                    p Are you sure you want to register this user?
                    button#confirmRegister Yes
                    button#cancelRegistration Cancel


    footer 
        p © 2024 Quiz Horizon. All rights reserved.

    script(src = "javascripts/navibar.js")
    script(src = "javascripts/create_user.js")
    link(rel='stylesheet', href='/stylesheets/admin.css')