doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(href='https://fonts.googleapis.com/css?family=M PLUS Rounded 1c' rel='stylesheet')
        title Login / Quiz Horizon
    body 
        header
            div.logo 
                img(src="/images/logo.png", alt="logo")
        div.login
            div.container
                h1 Sign In
                p Please enter your username and password
                if loginFailed
                    div(style="background-color: #e4c4c4; padding: 10px; color: #cb2b2b; font-size: 0.8rem; text-align: left;height: 20px; margin-bottom: 15px;") Incorrect username or password.
                else 
                    div(style="background transparent; padding: 10px;height: 20px; margin-bottom:15px")

                form(action="/login" method="post")
                    div.form_item
                        input(type="text", id="username", name="username", required)
                        label.Form__FloatingLabel Username
                    div.form_item
                        input(type="password", id="password", name="password", required)
                        label.Form__FloatingLabel Password

                    div.form_item
                        input(type="submit", value="Sign In")
        footer 
            p © 2024 Quiz Horizon. All rights reserved.
