doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src = "/javascripts/student_attempt_quiz.js")
        title Quiz
    body 
        // Title section
        div.quiz-title
            h1 This is the Quiz Title
        
        // Question section
        div#quiz-questions
        
        // Submit button
        div.submit-button
            button(type="submit") Submit


    