extends layout

block content
    title Quizzes List

    header.mobile-header 
        button.hamburger 
            div.bar 
        img(src="/images/logo_white.png", alt="logo")
    div.page
        nav
            img(src="/images/logo_white.png", alt="logo")
            ul
                li 
                    a(href="/student_dashboard", style="color:red") Dashboard 
                li
                    a#um_btn(href='/student_subject_list') Subject List
                li 
                    a.logout(href="/logout") Logout

        
        nav.mobile-nav
            ul
                li 
                    a(href="/student_dashboard", style="color:red") Dashboard
                li
                    a#um_btn(href='/student_subject_list') Subject List
                li 
                    a.logout(href="/logout") Logout 

        div.container(style='flex-direction:column; flex:1;')
            h1 Quiz List
            div#table_list_wrapper
                div#table_list_filter
                    label Search
                        input(type='text', id='searchInput', placeholder='', name="search")
                table
                    thead
                        tr
                            th Quiz Name
                            th Operation
                        tbody#quizTableBody
                        
                div#page_turner 
                    label#pageCount 
                    div#pageBtn 
                        button#prevPage Previous Page
                        button#nextPage Next Page
                        


    footer 
        p © 2024 Quiz Horizon. All rights reserved.

    script(src = "/javascripts/navibar.js")
    script(src = "/javascripts/student_quizzeslist.js")
    link(rel='stylesheet', href='/stylesheets/instructor.css')