extends layout

block content

    header.mobile-header 
        button.hamburger 
            div.bar 
        img(src="/images/logo_white.png", alt="logo")
    div.page
        nav
            img(src="/images/logo_white.png", alt="logo")
            ul
                li 
                    a(href="/student_dashboard", style="color:red") Dashboard 
                li
                    a#um_btn(href='/student_subject_list') Subject List
                li 
                    a.logout(href="logout") Logout

        
        nav.mobile-nav
            ul
                li 
                    a(href="/student_dashboard", style="color:red") Dashboard
                li
                    a#um_btn(href='/student_subject_list') Subject List
                li 
                    a.logout(href="logout") Logout  

        div.container(style="flex: 1; flex-direction: column")
            div#profile_pic 
                img(src="/images/profile_pic.png", alt="profile pic")
            div#user_details
                p#name
                p#contact
                p#address
                p#email

            div#change_password
                h1 Change Password
                form
                    div.form-group
                        p#changeIncorrect Current password incorrect
                        p#changeSuccess Password updated successfully
                        label(for="current_password") Current Password:
                        input(type="password", id="current_password", name="current_password")
                    div.form-group
                        p#ChangeNotMatch Passwords do not match
                        label(for="new_password") New Password:
                        input(type="password", id="new_password", name="new_password")
                    div.form-group
                        label(for="confirm_password") Confirm New Password:
                        input(type="password", id="confirm_password", name="confirm_password")
                    div.form-group
                        input(type="submit", value="Change Password")
                


    footer 
        p © 2024 Quiz Horizon. All rights reserved.


    script(src = "javascripts/navibar.js")
    script(src = "javascripts/student_dashboard.js")
    link(rel="stylesheet", href="/stylesheets/instructor.css")
    